<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passenger in Flight</title>
</head>

<body>
    <a href="/">Home</a>
    <div style="padding: 2%;">
        <form action="/flight/sort" method="post">
            <div>
                <span>Flight: </span>
                <input type="text" name="flightNum" value="" />
                <span>Date: </span>
                <input type="date" name="dateSelect" value="" />
            </div>
            <input type="submit" value="submit" style="margin:1%;"/>
        </form>
    </div>

    <table border="1">
        <thead>
            <th>airline</th>
            <th>flight number</th>
            <th>date</th>
            <th>departure airport</th>
            <th>destination airport</th>
            <th>departure time</th>
            <th>arrival time</th>
        </thead>
        <tbody>
            <%flightResult.forEach(function(flightResult, index){ %>
                <tr>
                    <td>
                        <%=flightResult.airlineName%>
                    </td>
                    <td>
                        <%=flightResult.flightNumber%>
                    </td>
                    <td>
                        <%=flightResult.flight_date.toDateString()%>
                    </td>
                    <td>
                        <%=flightResult.departure_airport%>
                    </td>
                    <td>
                        <%=flightResult.destination_airport%>
                    </td>
                    <td>
                        <%=flightResult.departure_time%>
                    </td>
                    <td>
                        <%=flightResult.arrival_time%>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>