<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passenger</title>
</head>

<body>
    <table border="1">
        <thead>
            <th>Passport Number</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Nationality</th>
            <th>Birthday</th>
        </thead>
        <tbody>
            <%passengerResult.forEach(function(passengerResult, index){ %>
                <tr>
                    <td>
                        <%=passengerResult.passportNum%>
                    </td>
                    <td>
                        <%=passengerResult.firstName%>
                    </td>
                    <td>
                        <%=passengerResult.middleName%>
                    </td>
                    <td>
                        <%=passengerResult.lastName%>
                    </td>
                    <td>
                        <%=passengerResult.gender%>
                    </td>
                    <td>
                        <%=passengerResult.nationality%>
                    </td>
                    <td>
                        <%=passengerResult.birthday.toDateString()%>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>